<div chart>
    <div chart-container>
        <canvas
            baseChart
            [data]="chartData"
            [options]="chartOptions"
            [type]="'bar'"
            [draggable]="false"
            appDragScroll
        >
        </canvas>
    </div>
</div>

<div history>
    <button
        routerLink="/"
        mat-stroked-button
        matRipple
    >
        <mat-icon>preliminary</mat-icon>
        <span>now</span>
    </button>
    <button
        routerLink="/week"
        mat-stroked-button
        matRipple
    >
        <mat-icon>view_week</mat-icon>
        <span>week</span>
    </button>
</div>
