app-background {
  display: flex;
  z-index: -1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#f17a65, #3dcadf);
  background-repeat: no-repeat;
  background-position: bottom;
  background-blend-mode: screen;
  background-size: cover;
}
