@use "@angular/material" as mat;

@mixin apply-theme($theme) {
  app-clock {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    color: mat.get-theme-color($theme, surface-variant);
    z-index: 10;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    animation: pulse 5s infinite alternate-reverse linear;
    [separator] {
      animation: timer 1s infinite;
    }
    @keyframes timer {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }
    @keyframes pulse{
      from {
        color: mat.get-theme-color($theme, surface-variant);
      }
      to {
        color: mat.get-theme-color($theme, on-surface);
      }
    }
  }
}
