@use "@angular/material" as mat;
@use "../mixins.scss";
@use "sass:color";

@mixin apply-theme($theme) {
  app-now {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    @include mixins.hour-modifiers();

    > h1 {
      position: fixed;
      top: 0.5rem;
      text-transform: uppercase;
      color: mat.get-theme-color($theme, primary);

      &[sensor="outdoor"] {
        right: 0.5rem;
        @media only screen and (max-width: 600px),
          screen and (max-height: 500px) {
          writing-mode: vertical-lr;
        }
      }
      &[sensor="indoor"] {
        left: 0.5rem;
        @media only screen and (max-width: 600px),
          screen and (max-height: 500px) {
          writing-mode: vertical-lr;
          transform: rotate(180deg);
        }
      }
    }
    app-temp {
      height: 100%;
    }
    app-livetemp {
      position: fixed;
      height: 20vh;
    }
    [history] {
      position: fixed;
      right: 0;
      bottom: 0.5rem;
      display: flex;
      column-gap: 0.5rem;
    }
  }
}
