app-now {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  >h1 {
    position: fixed;
    top: 0.5em;
    text-transform: uppercase;
    left: 0.5em;
  }
  app-temp {
    height: 100%;
  }
  app-livetemp {
    position: fixed;
    height: 20vh;
  }
}
