@use "@angular/material" as mat;
@use "../mixins.scss";
@use "sass:color";

@mixin apply-theme($theme) {
  app-week {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5em;

    [history] {
        position: fixed;
        right: 1em;
        bottom: 1em;
        display: flex;
        column-gap: 0.5rem;
      }
  }
}
