<ng-container *ngIf="($isLarge | async) as isLarge">
    <app-secondary
        *ngIf="!isLarge.matches"
        [sensor]="secondary"
        (click)="onSecondary($event)"
    ></app-secondary>
    <app-temp [sensor]="primary"></app-temp>
    <app-temp
        [sensor]="secondary"
        *ngIf="isLarge.matches"
    ></app-temp>
    <app-livetemp [sensors]="livesensors"></app-livetemp>
    <h1 [attr.sensor]="primary">{{primary}}</h1>
    <h1
        [attr.sensor]="secondary"
        *ngIf="isLarge.matches"
    >
        {{secondary}}
    </h1>
    <div history>
        <button
            routerLink="/week"
            mat-stroked-button
            matRipple
        >
            <mat-icon>view_week</mat-icon>
            <span>week</span>
        </button>
        <button
            routerLink="/day"
            mat-stroked-button
            matRipple
        >
            <mat-icon>today</mat-icon>
            <span>day</span>
        </button>
    </div>
</ng-container>
